#h{
height:400px;
 width:500px;
}
#ha{
    height:400px;
    width:500px;
}
body{
    text-align: center;
}
#r{
  height:400px;
    width:500px;  
}
#a{
    height:400px;
    width:500px;
}
#m{
   height:400px;
    width:500px; 
}
#l{
    height:400px;
    width:500px;
}
#hagrid{
    height:400px;
    width:500px;
}